.checkout {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 50px;
  margin-top: 100px;
}

.checkout-left {
  width: 100%;
  max-width: max(30%, 500px);
}

.checkout-left .title {
  font-size: 30px;
  font-weight: 600px;
  margin-bottom: 50px;
}

.checkout-left input {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #929292;
  border-radius: 4px;
  outline-color: var(--cor-principal);
}

.checkout-left .info-fields {
  display: flex;
  gap: 10px;
}

.checkout-right {
  width: 100%;
  max-width: max(40%, 500px);
}

.checkout .cart-total button {
  margin-top: 30px;
}
