@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

<<<<<<< HEAD
:root {
  --cor-principal: #624e88;
  --cor-secundaria: #8967b3;
  --cor-fundo: #e6d9a2;
  --cor-fundoheader: rgb(230, 217, 162, 0.3);
  --cor-complementar: #cb80ab;
  --cor-branco: #ffffff;
  --cor-preto: #000000;
}

=======
>>>>>>> ef6ae42d6e2e876c4ad2f20e4802d3342ecacf0d
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body {
  min-height: 100vh;
}

<<<<<<< HEAD
.app {
  background-color: white;
  padding: ;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 90%;
  margin: auto;
}

=======
a {
  text-decoration: none;
  color: inherit;
}

.App {
  width: 80%;
  margin: auto;
}

>>>>>>> ef6ae42d6e2e876c4ad2f20e4802d3342ecacf0d
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
